
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Vitoria Motors</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Geral</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Carros</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Motos</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Tipos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Promoções</a></li>
                          <li><a class="dropdown-item" href="#">Novidades</a></li>
                          <li><a class="dropdown-item" href="#">Equipamentos</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
<div class="container w-50">
  <br><br>
  <h1>Novidades do ano:</h1>
    <div class="col">
        <div class="row">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://carros2022.com.br/wp-content/uploads/2021/01/nova-fiat-strada-medium-e1581459453270-768x511.jpeg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Fiat Strada 2022</h5>
                      <p></p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://matriculafacil2021.com.br/wp-content/uploads/2021/01/v02.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Volkswagen Taos</h5>
                      <p></p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://carros2022.com.br/wp-content/uploads/2021/01/1.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Fiat Pulse 2022</h5>
                      <p></p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div><br><br>
</div>
</div>
</div>
<div class="container-fluid">
  <div class ="row">
    <div class="col-sm">
     <br><br><h3>Conheça as melhores motocicletas:</h3>
     <img src="https://i.pinimg.com/originals/d2/4c/32/d24c328b31d653ca62b65c21bab0b37c.jpg" class="d-block w-50">
     <button type="button" class="btn btn-lg" href="#">Saiba mais</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <br><br><h3>Ofertas:</h3>
      <img src="https://www.jeep.com.br/content/dam/jeep/home/imagens/Renegade-ambientada.jpg"class ="d-block w-50">
    </div>
  </div>  //nao consegui colocar as imagens de oferta na coluna ao lado :/
  <hr>
  <div class="row">
    <div class="col-3">
    <b>Produtos Vitoria Motors</b><br>
Motocicletas<br>
Automóveis<br>
Financiamentos<br>
Seguros

    </div>

  </div>

</div>


